<%= form_for (@post) do |f| %>
	<% if @post.errors.any? %>
		<div>
			<% @post.errors.full_messages.each do |msg| %>
		<ul>
			<li><%= msg %></li>
		</ul>
		<% end %>
		</div>
	<% end %>

	<div>
		<%= f.label :title %> : </br>
		<%= f.text_field :title %> </br>
	</div>
	<div>
		<%= f.label :description %> : </br>
		<%= f.text_area :description %> </br>
	</div>
	<div>
		</br> <%= f.submit "Submit" %>
	</div>
	<div>
		<%= link_to "Back", :back %>
	</div>


<% end %>