<%= render 'design'%>	

<div class="maincontent">

<h1>My Blog</h1>
<%= link_to "Add New Post", new_post_path%>
<% @posts.each do |p| %>
<h2> <%= p.title%> </h2>

<h5> <%= link_to "Read", post_path(p.id) %> || <%= link_to "Delete",post_path(p.id), :method => :delete, :confirm => "Are u sure you want to delete?" %> </h5>
<hr>
<% end %>
</div>

